/* Global styles */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar styles */
.sidebar .sidebar-content {
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar .stButton button {
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}

.sidebar .stButton button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Main content styles */
.stTitle {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.stSubheader {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.stImage {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.stSuccess {
    color: #28a745;
}

.stError {
    color: #dc3545;
}

.stDownloadButton button {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}

.stDownloadButton button:hover {
    background-color: #218838;
    color: #fff;
}

/* Info, Spinner, and other elements */
.stInfo {
    background-color: #e9ecef;
    color: #333;
    border-left: 5px solid #17a2b8;
    padding: 10px;
    border-radius: 5px;
}

.stSpinner {
    font-size: 16px;
    color: #007BFF;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: left; /* Vertically center elements */
    gap: 40px;
    min-height: 400px;
    padding-left: -2000px; /* Reduce left padding */
}

.ratios {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically align buttons */
    align-items: flex-start; /* Align items to the left */
}

.ratios h4 {
    margin-bottom: 10px;
    font-size: 20px; /* Adjust font size as needed */
}


.ratios button {
    background-color: #1e1e1e;
    color: #fff;
    border: 2px solid #444;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    width: 90px; /* Reduce width of buttons */
}

.ratios button:hover {
    background-color: #7289da;
}

.ratios button.selected {
    background-color: #4CAF50;
}

.ratio-box {
    background-color: #1e1e1e;
    margin: 0 auto;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Slightly smaller font */
    color: white;
    min-width: 200px;
    min-height: 200px;
}

.ratio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; /* Adjust height as needed */
}